body {
    line-height: 1.5;
    font-family: Helvetica;
    /* Made font size larger for stretch challenge */
    font-size: 19px; 
    margin: 0;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* Changed background color of page header for stretch challenge */
    background-color: lightcyan;
}

.page-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.page-header a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
}
