body {
    line-height: 1.5;
    font-family: Helvetica;
    /* Made font size larger for stretch challenge */
    font-size: 19px; 
    margin: 0;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* Changed background color of page header for stretch challenge */
    background-color: lightcyan;
}

.page-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.page-header a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-column-gap: 200px;
    /* Instructions: margin-left: 100px instead of margin-right */
    margin-right: 100px;
    margin-top: 50px;
}

.item {
    border: solid 1px;
    width: 300px;
    margin-top: 30px;
}

/* Stretch challenge: change background color of button and add padding */
.item button {
    background-color: gold;
    padding: 5px 10px 5px 10px;
}